.input1{
    margin-left: 20px;
    margin-top: 10px;
}
.input2{
    margin-left: 50px;
    margin-top: 10px;
}
button{
    margin-top: 20px;
}
body{
    margin-top: 40px;
    margin-left: 40px;
}
.text{
    margin-top: 10px;
}